<!--The content below is only a placeholder and can be replaced.-->

<ul>
  <!--Its a directive that allows you to change the actual component :/ -->
  <li><a routerLink="">Home</a></li>
  <!-- We are setting a hard coded value to the parameter that we have initialized on the app-routing.module file
    so the value will be placed at the same spot the parameter name was initialized -->
  <li><a routerLink="/about/285">About</a></li>
</ul>
<!-- This element name references to the selector we find under each components folder, for example
  under the foler home and on the file home.component.ts we can find the selector name which is 
  app-home and therefore we can use this for nesting other components inside this component just like 
any other html hierarchy-->
<!-- <app-home>

</app-home> -->
<router-outlet></router-outlet>
